<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Register</h1>

<form action="" method="post">

    {% csrf_token %}

    <input type="text" placeholder="Enter your full_name" name="fullname"> <br> <br>
    <input type="number" placeholder="Enter your age" name="age"> <br> <br>
    <input type="number" placeholder="Enter your phone_number" name="phone_number"> <br> <br>
    <input type="email" placeholder="Enter your email_address" name="email_address"> <br> <br>
    <input type="text" placeholder="Enter your password" name="password"> <br> <br>

<button>SUBMIT</button>

</form>


</body>
</html>